.footer {

    .footer-top {
        background-color: $turquesa;
        padding: 58px 0;
    }
    
    ul {
        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }
    a {
        color: white;
        font-size: 19px;
        font-family: 'Roboto';
    }

    .lista-footer {
        &:before {
            display: block;
            content: '';
            width: 1px;
            height: 129px;
            position: absolute;
            background-color: white;
            right: 10px;
            top: -5px;
        }
    }
}

/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 */

  .social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
      a {
        margin-right: 25px;
        i {
            font-size: 30px;
        }
      }
  }

  .footer-sub {
      background-color: $turquesa-dark;
      height: 18px;
  }