

.header-top {
  background-color: #ACACAC;
  color: white;
  height: 36px;
  display: flex;
  align-items: center;
}

.header-top-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        color:white;
    }
}

.accesibilidad {
    margin-right: 30px;

}
.box-links {
  display: flex;
  align-items: center;
  a {
    i {
      border: 1px solid;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      text-decoration: none;
    }
  }
  span {
    font-size: 18px;
    margin: 0 10px;
  }
}

.box-contraste {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.icon-color {
  i {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
  }
  &:hover {
    text-decoration: none;
  }
}


.idioma {
  font-size: 17px;
  a {
    text-decoration: none;
  }
}

.slider-top {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 10px;
}

.slider-top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    img {
        max-width: 100px;
    }
}

.box-menu {
    display: flex;
    align-items: center;
}

.lupa {
    margin-right: 20px;
    i {
      font-size: 18px;
      color:white;
    }
}


/* Toggle BTN for Menu */
.button-nav--toggle {
  background: rgba(207, 159, 159, 0.2);
  height: 48px;
  position: relative;
  transition: transform 0.4s;
  display: block;
  width: 48px;
  z-index: 100;
  
  span {
    background-color: white;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;
    
    &:first-child { transform: translateY(-6px) }
    &:last-child { transform: translateY(6px) }
  }
  
  /* Active */
  &.active span {
    &:first-child { transform: rotate(45deg) translate(0) }
    &:nth-child(2) { transform: scaleX(0) }
    &:last-child { transform: rotate(-45deg) translate(0) }
  }
}

.menu-desplegable {
   position: relative;
  .menu-lista {
    /* display:none; */
    /* position: relative; */
    position:absolute;
    /* height: 0; */
    transition: all 0.4s ease-in-out 0s;
    background-color: #0D7D9F;
    z-index: 10;
    width: 240px;
    left: 252px;
    opacity: 0.86;

    ul {
      margin:0;
    }

    li {
      list-style: none;
      a {
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid lightgray;
        height: 90px;
        background-color: #5BA1B3;
        &:hover {
          text-decoration: none;
        }
        &.active {
          background-color: #28849F;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }

  }

  .active + .menu-lista {
    //display: block;
    position: absolute;
    height: auto;
    right: 0;
    width: 240px;
    transition: all 0.4s ease-in-out 0s;
    left: 0;
  }

}



 
/* Slider Style*/
.slider {
    background-color: #F8F8F8;
    position: relative;
}

.slider  .carousel-control-prev {
    right: 140px;
    left: auto;
}

.slide .carousel-control-next {
    right: 78px;
}

.slider  .carousel-control-next, .slider .carousel-control-prev {
    align-items: flex-end;
    margin-bottom: 50px;
    width: auto;
    bottom: 60px;
}


.slider-number {
    display: flex;
    font-size: 30px;
    align-items: center;
    font-family: 'Didot';
    .indice {
      font-size: 54px;
      position: relative;
      top: -16px
    }

    .slash {
      font-size: 96px;
      position: relative;
      left: -10px;
    }

    .cantidad {
      font-size: 25px;
      position: relative;
      top: 14px;
    }
    
}

.link-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  @include min-screen($d){
		width: auto;
	}
  .link-obras {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $turquesa;
    font-size: 18px;
    color: white;
    width: 50%;
    height: 80px;
    text-decoration: none;
    @include min-screen($tp){
      font-size: 25px;
    }
    @include min-screen($d){
      width: 230px;
      font-size: 20px;
    }
  }
  .link-virtual {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: transparent;
    border-top: #747474;
    color: white;
    width: 50%;
    height: 80px;
    text-decoration: none;
    @include min-screen($tp){
      font-size: 25px;
    }
    @include min-screen($d){
      width: 230px;
      font-size: 20px;
    }
  }
}
.carousel-caption {
    bottom: 4rem;
    z-index: 10;
}

 
.carousel-item {
    height: calc(100vh - 36px);
    max-height: 768px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.title-item {
  font-family: "Courier New";
  font-size: 25px;
  text-align: left;
  max-width: 550px;
  @include min-screen($tp){
		font-size: 30px;
	}
 @include min-screen($d){
  font-size: 36px;
	}
}




/* búsqueda */

.searchbox{
  position:relative;
  min-width:50px;
  width:0%;
  height:40px;
  float:right;
  overflow:hidden;
  //transition: width 10s;
  transition: width 0.3s;
}

.searchbox-input{
  top:0;
  right:0;
  border:0;
  outline:0;
  //background:#212121;
  background-color: white;
  width:100%;
  height:40px;
  margin:0;
  padding:0px 55px 0px 20px;
  font-size:20px;
  //color:#ff4e4e;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 15px;
  background-color: transparent;
  .searchbox-open & {
    background-color: white;
  }
}

.searchbox-icon,
.searchbox-submit{
  width:50px;
  height:40px;
  //display:block;
  position:absolute;
  top:0;
  //font-size:22px;
  right:0;
  padding:0;
  margin:0;
  border:0;
  outline:0;
  line-height:50px;
  text-align:center;
  cursor: pointer;
  color:#fff;
  //background:#172b3c;
  //border-left: 1px solid white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: transparent;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
}
.searchbox-open{
  width:100%;
}

.searchbox-submit {
  background-color: transparent;
}



