
.section-breadcrumb {
    .breadcrumb {
        background-color: white;
        padding: 10px 30px;
        border-radius: 0;
        a {
            font-size: 18px;
            color: #BEBEBE;
        }
    }
}

.box-img-obra { 
    display: flex;
    position:relative;
    img {
        box-shadow: 1px 2px 19px 0px rgba(0,0,0,0.16);

    }
    .box-tools {
        position: absolute;
        bottom: -40px;
        right: 0;
        i {
            color:black;
            font-size: 22px;
            margin: 0 12px 0 0;
        }
    }
}


.section-detalle-obra {
    //padding: 0 0 90px 0;
    padding: 0 0 130px 0;
}

/* SLIDER STYLE */

.descripcion-obra {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: flex-end;
    padding: 10px 20px;
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #707070;
    }
    p {
        font-size: 16px;
        color: #707070;
    }
}

.box-detalle-obra {
    display: flex;
}


.contenido-saber-mas {
    display: none;
    margin-top: 85px;
    p {
        &:last-child {
            margin-top: 40px;
        }
    }
}

.box-ocultar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.section-carrusel-relacionadas {
    padding: 0 0 60px 0;
}


/* EFECTO ZOOM */