
.section-breadcrumb {
    .breadcrumb {
        background-color: white;
        padding: 10px 30px;
        border-radius: 0;
        a {
            font-size: 18px;
            color: #BEBEBE;
        }
    }
}

.box-img-obra { 
    display: flex;
    position:relative;
    img {
        box-shadow: 1px 2px 19px 0px rgba(0,0,0,0.16);

    }
    .box-tools {
        position: absolute;
        bottom: -40px;
        right: 0;
        i {
            font-size: 22px;
            margin: 0 9px 0 0;
        }
    }
}


section.section-detalle-obra {
    padding: 0 0 90px 0;
}


.descripcion-obra {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: flex-end;
    padding: 10px 20px;
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #707070;
    }
    p {
        font-size: 16px;
        color: #707070;
    }
}

.box-detalle-obra {
    display: flex;
}

.btn-saber {
    border:1px solid $verde;
    color: $verde;
    font-size: 22px;
    border-radius: 0;
    &:hover {
        border:1px solid $verde;
        color: $verde;
    }
}
.item-relacionado {
    //width: 200px;
}