.btn-saber {
    border:1px solid $verde;
    color: $verde;
    font-size: 22px;
    border-radius: 0;
    padding: 8px 30px;
    &:hover {
        border:1px solid $verde;
        color: $verde;
        opacity: 0.8;
    }
}

.btn-ocultar {
    border:1px solid $verde;
    color: $verde;
    font-size: 22px;
    border-radius: 0;
    padding: 8px 30px;
    &:hover {
        border:1px solid $verde;
        color: $verde;
        opacity: 0.8;
    }
}

.btn-popup {
    border: none;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
    background-color: transparent;
    margin-right: 12px;
    outline: none;
    &:hover {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}